
:root {
    --wb-bgcolor1: #f7f7f7;
    --wb-bgcolor2: #2a2a2a;
    --wb-text-color1: #2a2a2a;
    --wb-text-color2: #ffffff;
    --wb-text-color3: #ff0000;
    --wb-header-height: calc(1.5rem + env(safe-area-inset-top));
    --wb-footer-height: calc(1.5rem + env(safe-area-inset-bottom));
    --wb-gutter-width: 1.5rem;
    --wb-gutter-height: 0.5rem;
}

html, body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: var(--wb-bgcolor1);
    color: var(--wb-text-color1);
}

body {
    height: calc(100% + env(safe-area-inset-top));
    background-color:var(--wb-bgcolor1);
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

header {
    background-color: var(--wb-bgcolor2);
    color: var(--wb-text-color2);
    width: 100%;
    height: var(--wb-header-height);
    padding: calc(var(--wb-gutter-height) + env(safe-area-inset-top)) 0 var(--wb-gutter-height) 0;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

    header a {
        color: var(--wb-text-color2);
        text-decoration: none;
    }

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--wb-header-height) + (var(--wb-gutter-height) * 2));
    padding-bottom: calc(var(--wb-footer-height) + (var(--wb-gutter-height) * 2));
/*
    padding-left: var(--wb-gutter-width);
    padding-right: var(--wb-gutter-width);
*/
}

    main .loading {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main .loading span {
        font-size: 5rem;
    }

footer {
    background-color: var(--wb-bgcolor2);
    color: var(--wb-text-color2);
    width: 100%;
    height: var(--wb-footer-height);
    padding: var(--wb-gutter-height) 0 calc(var(--wb-gutter-height) + env(safe-area-inset-bottom)) 0;
    position: fixed;
    bottom: 0;
    transform: translateY(env(safe-area-inset-bottom));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

    footer a {
        color: var(--wb-text-color2);
        padding-left: 0.7rem;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

#index-3d-viewer {
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    flex-shrink: 0;
}